h1,
h2,
h3,
h4,
h5,
h6,
body {
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 15px;
}

a {
  outline: 0;
  border-bottom: 1px solid #1779ba;
}

hr {
  border-bottom: 1px solid #1779ba;
  margin: 24px 0;
}

.mdl-button {
  border-radius: 2px;
  color: #1c99e9;
}

.sidebar {
  padding: 24px !important;
  color: white;
}

.name {
  margin-bottom: 24px;
  font-size: 3.75rem;
  width: 100%;
  z-index: 1;
  line-height: 1.1;
}

@media screen and (max-width: 39.9375em) {
  .name {
    font-size: 2.75rem;
  }

  .image-container {
    text-align: center;
    margin: 12%;
    margin-bottom: -40px;
  }
}

.divider {
  border-bottom: 1px solid #1976d2;
  margin-bottom: 20px;
}

.with-subtext {
  font-weight: 400;
  color: white;
  margin: 0;
}

.subtext {
  color: rgb(41, 79, 129);
  margin: 0;
}

.crop-circle {
  border-radius: 50%;
  padding: 0 12px;
  z-index: 0;
}

.mdl-slider,
.mdl-slider__background-flex {
  width: 100%;
  margin: 0;
}

.mdl-slider:active::-webkit-slider-thumb,
.mdl-slider::-webkit-slider-thumb {
  background: white !important;
}

.mdl-slider:active::-moz-range-thumb,
.mdl-slider::-moz-range-thumb {
  background: white !important;
}

.mdl-slider:active::-ms-thumb,
.mdl-slider::-ms-thumb {
  background: white !important;
}

.mdl-slider__background-lower {
  background: white !important;
}

.content-panel {
  background-color: white;
  margin: 24px 12px 24px;
  padding: 24px 28px 16px;
}

.content-panel:first-child {
  position: relative;
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .content-panel {
    margin: 16px;
  }
}

@media screen and (max-width: 39.9375em) {
  .content-panel {
    margin: 0px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

h5 {
  font-weight: 500;
  margin-bottom: 20px;
}

.entry {
  margin-bottom: 8px;
}

.entry h6,
.entry p {
  margin-bottom: 2px;
}

.entry > i {
  margin: 16px;
}

.date {
  color: rgb(28, 153, 233);
}

.blue {
  color: rgb(28, 153, 233);
}

.link {
  display: inline;
}

#view-online {
  display: none;
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 6px 8px;
  background-color: rgb(3, 169, 244);
  border-radius: 8px;
  color: #fff;
}

#view-online a {
  color: #fff;
}
